.title-container {
    transition: all 0.3s ease-in-out;
}

.title {
    transition: all 0.3s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image-dice {
    animation: rotate 10s infinite linear;
}

.info-container {
    margin-left: 50%;
}


